In [1]:
# importing necessary libary
import pandas as pd

In [2]:
# load data
df = pd.read_csv("aliexpress_product.csv")
df

,product_name,qty_sold,sales_price,original_price,rating,shipping_cost,store
0,Sweatpants Versatile Baggy Pants Men Woman Out...,NaN,"NGN10,824.87","NGN35,859.15",NaN,Free shipping,Innovation Men Store
1,Summer thin Japanese baggy broad-legged overal...,NaN,"NGN22,785.04","NGN65,027.18",NaN,Free shipping,Shop1103183813 Store
2,Bratz Pink Printing Man Woman Pants Pocket Run...,3 sold,"NGN11,819.24","NGN37,847.88",NaN,Free shipping,Innovation Men Store
3,Spring and summer thin high street n-style ret...,NaN,"NGN12,670.32","NGN40,358.38",NaN,Free shipping,Shop1103183813 Store
4,New York City Print Male Famale Tracksuit Pock...,NaN,"NGN6,721.25","NGN37,847.88",NaN,Free shipping,Innovation Men Store
...,...,...,...,...,...,...,...
595,Men Autumn Summer Sports Running Pants Pockets...,NaN,"NGN9,809.12","NGN33,004.36",NaN,Free shipping,Shop1103754028 Store
596,Friends Fun Letter Printed Men Women Pants Bag...,NaN,"NGN11,641.75","NGN37,847.88",NaN,Free shipping,Innovation Men Store
597,Boys personality fashion all-in-one Japanese c...,NaN,"NGN12,826.43","NGN40,739.02",NaN,Free shipping,Shop1103183813 Store
598,Spring and summer 2024 Japanese overalls men's...,NaN,"NGN22,785.04","NGN65,027.18",NaN,Free shipping,Shop1103183813 Store
599,New Spring Men Casual Pants Knitting Sweatpant...,NaN,"NGN15,862.98","NGN65,797.01",NaN,Free shipping,Fashionable Sports And Outdoor Clothing Store

### Inspect the data

In [3]:
# check the data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_name    600 non-null    object
 1   qty_sold        104 non-null    object
 2   sales_price     600 non-null    object
 3   original_price  592 non-null    object
 4   rating          0 non-null      float64
 5   shipping_cost   598 non-null    object
 6   store           600 non-null    object
dtypes: float64(1), object(6)
memory usage: 32.9+ KB

In [4]:
df.duplicated().sum()

567

### Qty

In [5]:
# check unique data
df["qty_sold"].unique()

array([nan, '3 sold', '3000+ sold', '9 sold', '13 sold', '11 sold',
       '7 sold', '40 sold', '139 sold', '900+ sold', '291 sold',
       '20 sold', '8 sold', '2 sold', '1,000+ sold', '1 sold'],
      dtype=object)

In [6]:
df["qty_sold"] = df["qty_sold"].str.replace(" sold", "") # remove the 'sold'
df["qty_sold"] = df["qty_sold"].str.replace("+", "") # remove the '+'
df["qty_sold"] = df["qty_sold"].str.replace(",", "") # remove the ','

# fill na values
df["qty_sold"].fillna(value=0, inplace=True)

In [7]:
# change the datatype
df["qty_sold"] = df["qty_sold"].astype("int64") # cahnge the data type to integer

### Sales Price

In [8]:
# check unique data
df["sales_price"].unique()

array(['NGN10,824.87', 'NGN22,785.04', 'NGN11,819.24', 'NGN12,670.32',
       'NGN6,721.25', 'NGN9,809.12', 'NGN11,641.75', 'NGN12,826.43',
       'NGN15,862.98', 'NGN21,694.46', 'NGN17,426.17', 'NGN14,686.66',
       'NGN16,371.92', 'NGN13,615.5', 'NGN8,896.02', 'NGN21,613.19',
       'NGN24,679.68', 'NGN19,445.81', 'NGN18,991.49', 'NGN19,626.41',
       'NGN13,726.51', 'NGN12,901.84', 'NGN11,453.37', 'NGN9,270.24',
       'NGN10,525.49', 'NGN33,397.83', 'NGN19,305.84', 'NGN10,820.59',
       'NGN1,710.73'], dtype=object)

In [9]:
df["sales_price"] = df["sales_price"].str.replace("NGN", "")   # remove the 'NGN'
df["sales_price"] = df["sales_price"].str.replace(",", "")     # remove the ','

In [10]:
df["sales_price"] = df["sales_price"].astype("float64")  # this is to change the datatype

In [11]:
df["sales_price"].unique()

array([10824.87, 22785.04, 11819.24, 12670.32,  6721.25,  9809.12,
       11641.75, 12826.43, 15862.98, 21694.46, 17426.17, 14686.66,
       16371.92, 13615.5 ,  8896.02, 21613.19, 24679.68, 19445.81,
       18991.49, 19626.41, 13726.51, 12901.84, 11453.37,  9270.24,
       10525.49, 33397.83, 19305.84, 10820.59,  1710.73])

### Original Price

In [12]:
df["original_price"].unique()

array(['NGN35,859.15', 'NGN65,027.18', 'NGN37,847.88', 'NGN40,358.38',
       'NGN33,004.36', 'NGN40,739.02', 'NGN65,797.01', 'NGN62,369.13',
       'NGN50,616.38', 'NGN31,409.1', 'NGN50,620.65', 'NGN40,681.28',
       'NGN29,704.78', 'NGN59,281.25', 'NGN64,879.63', 'NGN19,445.81',
       'NGN52,117.55', 'NGN41,970.75', nan, 'NGN33,557.2', 'NGN11,453.37',
       'NGN32,063.45', 'NGN34,272.44', 'NGN33,397.83', 'NGN55,902.55',
       'NGN33,688.65'], dtype=object)

In [13]:
df["original_price"] = df["original_price"].str.replace("NGN", "")  # remove the 'NGN'
df["original_price"] = df["original_price"].str.replace(",", "")    # remove the ','

In [14]:
df["original_price"] = df["original_price"].astype("float64")

In [15]:
df["original_price"].fillna(value=0, inplace=True)   # remove the missing values and input 0

### Rating

In [16]:
# This helps remove the rating column
df.drop(columns=["rating"], inplace=True)

### Shipping Cost

In [17]:
df["shipping_cost"].unique()

array(['Free shipping', '+Shipping: NGN17,763.85', nan,
       '+Shipping: NGN20,588.7'], dtype=object)

In [25]:
# fill na
df['shipping_cost'].fillna(value=0, inplace=True)

In [30]:
# this is to show the number of data in the s lishipping costt that write
df["shipping_cost"].isna().sum()

0

### Store

In [27]:
# this is to show the number of data in the store list that write
df["store"].isna().sum()

0

In [28]:
df.head()

,product_name,qty_sold,sales_price,original_price,shipping_cost,store
0,Sweatpants Versatile Baggy Pants Men Woman Out...,0,10824.87,35859.15,Free shipping,Innovation Men Store
1,Summer thin Japanese baggy broad-legged overal...,0,22785.04,65027.18,Free shipping,Shop1103183813 Store
2,Bratz Pink Printing Man Woman Pants Pocket Run...,3,11819.24,37847.88,Free shipping,Innovation Men Store
3,Spring and summer thin high street n-style ret...,0,12670.32,40358.38,Free shipping,Shop1103183813 Store
4,New York City Print Male Famale Tracksuit Pock...,0,6721.25,37847.88,Free shipping,Innovation Men Store

## Save Clean Data

In [38]:
# save data 
cleaned_csv = df.to_csv("aliexpress_cleaned.csv", index=False)